<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.sb.mb.mapper.StudentMapper">
    <select id="selectAll" resultType="Student">
        SELECT * FROM student
    </select>

    <select id="selectByPrimaryKey" resultType="Student">
        SELECT * FROM student
        WHERE id = ${id}
    </select>

    <insert id="insert">
        INSERT INTO student(user_name, email)
        VALUES(#{userName}, #{email})
    </insert>

    <update id="updateByPrimaryKey">
        UPDATE student
        SET user_name = #{userName}, email = #{email}
        WHERE id = #{id}
    </update>

    <delete id="deleteByPrimaryKey">
        DELETE FROM student
        WHERE id = #{id}
    </delete>
</mapper>